.git
.dart_tool
.firebase
.idea
.vscode
.VSCodeCounter
build/*
!build/web/
!build/web/**
android/build
ios/build
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral

.flutter-plugins
.flutter-plugins-dependencies
pubspec_overrides.yaml