<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naliv.delivery">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.USE_EXACT_ALARM" /> 
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- required -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <!-- foregroundServiceType: dataSync -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- foregroundServiceType: remoteMessaging -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    
    <!-- important: Do not change service name. -->
    <!-- Add android:stopWithTask option only when necessary. -->

    <application>
        <!-- Add service -->
        <service 
            android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
            android:foregroundServiceType="location" 
            android:exported="false" />
    </application>

    <!-- <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> -->
</manifest>
